:root {
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
}

.logo {
  display: flex;
  flex-flow: row wrap;
}

.background {
  background-image: url(./urban-landscape-background.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 20vw;
}
